<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Servers</key>
	<array>
		<dict>
			<key>Host</key>
			<string>ux-jms.karlkraft.com</string>
			<key>Network</key>
			<string>0.0.0.0/0</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>laxcranejms01</string>
			<key>Network</key>
			<string>10.1.0.0/16</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>laxcranejms01</string>
			<key>Network</key>
			<string>10.10.0.0/16</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>oakcranejms01</string>
			<key>Network</key>
			<string>10.2.0.0/16</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>oakcranejms01</string>
			<key>Network</key>
			<string>10.20.0.0/16</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>auscranejms01</string>
			<key>Network</key>
			<string>10.3.0.0/16</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>auscranejms01</string>
			<key>Network</key>
			<string>10.30.0.0/16</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>jaxcranejms01</string>
			<key>Network</key>
			<string>10.4.0.0/16</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>jaxcranejms01</string>
			<key>Network</key>
			<string>10.40.0.0/16</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>laxcranejms01</string>
			<key>Network</key>
			<string>10.5.0.0/16</string>
		</dict>
		<dict>
			<key>Host</key>
			<string>laxcranejms01</string>
			<key>Network</key>
			<string>10.50.0.0/16</string>
		</dict>
	</array>
</dict>
</plist>
